<div class="footer sticky-bottom">
  <div class="footer-links">
    <a href="https://github.com/juliaf1/opentickets" target="_"><%= icon('fab', 'github') %></a>
    <a href="#" target="_"><%= icon('fas', 'heart') %></a>
    <a href="#" target="_"><%= icon('fas', 'envelope') %></a>
  </div>
  <div class="footer-copyright">
    Made with Rails during Le Wagon Batch #499
  </div>
</div>
