<div class="footer">
  <div class="footer-links">
      <a href="https://github.com/juliaf1/opentickets" target="_"><%= icon('fab', 'github') %></a>
      <a href="#" target="_"><%= icon('fas', 'heart') %></a>
      <a href="#" target="_"><%= icon('fas', 'envelope') %></a>
  </div>
  <div class="footer-copyright">
    <p>Made with Rails during Le Wagon Batch 499</p>
  </div>
</div>

<!--

<div class="footer">
  <div class="footer-links">

  </div>

  <div>
    <p>Made with Rails during Le Wagon Batch 499</p>
  </div>
</div>



<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/juliaf1/opentickets"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
 -->
