<!-- BANNER SECTION -->

<div class="banner">
  <div class="container">

  </div>
</div>




<!-- MIDDLE SECTION -->

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-12 col-lg-4">
      <form action="#">
        <div class="form-group">
          <label for="your-email">Email</label>
          <input id="your-email" type="text" placeholder="" class="form-control">
        </div>

        <div class="form-group">
          <label for="your-password">Password</label>
          <input id="your-email" type="text" class="form-control">
        </div>

        <p>Remember me</p>

        <input type="submit" value="Log in" class="btn btn-primary btn-lg btn-block">

        <input type="submit" value="Sign up" class="btn btn-primary btn-lg btn-block">

        <p>Forgot your password?</p>
      </form>
    </div>
  </div>
</div>






<!-- FOOTER -->

<div class="footer">
  <ul>
    <li>
      <img src="#">
    </li>

    <li>
      <img src="#">
    </li>

    <li>
      <img src="#">
    </li>
  </ul>
  <p>Made with Rails during Le Wagon Batch 499</p>
</div>
