<!-- <div class="banner" style="background-image: linear-gradient(rgba(20,20,20,0.5),rgba(20,20,20,0.6)), url('<%= image_path "banner1.jpeg" %>');">
  <div class="container">
    <h1>Open Tickets: Learn and Teach Programming</h1>
    <p>The Learning Tool For The Open Source World</p>
  </div>
</div> -->

<div class="header">
  <%= image_tag "3946714.jpg", class: 'banner-img' %>
  <h1>The Learning Tool for The Open Source World</h1>
</div>

<div class="body-container">

  <div class="info">
    <h2>Open Tickets</h2>
    <p>Share your knowledge, learn in pairs.</p>
  </div>

  <div class="cards-container" id="save">
    <div class="card-info">
      <i class="fas fa-heart"></i>
      <div class="card-text">
        <h2>Connect</h2>
        <p>Find teachers with the skills set you need.</p>
      </div>
    </div>
  </div>

  <div class="cards-container" id="save">
    <div class="card-info">
      <i class="fas fa-heart"></i>
      <div class="card-text">
        <h2>Ticket</h2>
        <p>Book a developing session.</p>
      </div>
    </div>
  </div>

  <div class="cards-container" id="save">
    <div class="card-info">
      <i class="fas fa-heart"></i>
      <div class="card-text">
        <h2>Teach</h2>
        <p>Share your knowledge with other buds.</p>
      </div>
    </div>
  </div>

</div>
