<!-- <div class="banner" style="background-image: linear-gradient(rgba(20,20,20,0.5),rgba(20,20,20,0.6)), url('<%= image_path "banner1.jpeg" %>');">
  <div class="container">
    <h1>Open Tickets: Learn and Teach Programming</h1>
    <p>The Learning Tool For The Open Source World</p>
  </div>
</div> -->

<div class="header">
  <%= image_tag "3946714.jpg", class: 'banner-img' %>
  <h1>The Learning Tool for The Open Source World</h1>
</div>

<div class="body-container">

  <div class="info mb-4">
    <h2>Open Tickets</h2>
    <p>Share your knowledge, learn in pairs</p>
  </div>

  <div class="home-cards-container" id="save">
    <div class="card-info">
      <i class="fas fa-terminal"></i>
      <div class="card-text">
        <h2>Dev Community</h2>
        <p>Connect with developers from all over the world.</p>
      </div>
    </div>

    <div class="card-info">
      <i class="fas fa-heart"></i>
      <div class="card-text">
        <h2>Learn</h2>
        <p>Get help and learn with others.</p>
      </div>
    </div>

    <div class="card-info">
      <i class="fas fa-comments"></i>
      <div class="card-text">
        <h2>Teach</h2>
        <p>Grab a coffee and share your knowledge.</p>
      </div>
    </div>
  </div>

  <div class="info mt-5">
    <h2>Don't go solo... Pair Program.</h2>
    <div class="container">
      <p>A tip from the developer community: our open source world is collaborative.<br>
      We grow together and reach higher when we share our knowledge with each other.</p>
      <p>OpenTickets is an open plataform that connects developers,<br>
      experienced or not, to code together.</p>
    </div>
  </div>

</div>
