<div class="banner" style="background-image: linear-gradient(rgba(20,20,20,0.5),rgba(20,20,20,0.6)), url('<%= image_path "banner1.jpeg" %>');">
  <div class="container">
    <h1>Open Tickets: Learn and Teach Programming</h1>
    <p>The Learning Tool For The Open Source World</p>
  </div>
</div>

