<div class="container text-center my-5">
  <div class="row">
    <div class="col-sm">
      <h1>Book your ticket with <%= @timeslot.user.first_name %></h1>
      <p class="mb-5">Write a brief description of your problem or what you would like to learn</p>
      <%= simple_form_for @ticket, url: timeslot_tickets_path(@timeslot), method: 'post' do |f| %>

        <%= f.input :description, label: false %>

        <%= f.button :submit, 'Create Ticket', class: 'btn-skill' %>
      <% end %>
    </div>
  </div>
</div>

<div style="height: 500px"></div>
