.avatar {
  width: 40px;
  border-radius: 50%;
}

.avatar-large {
  border: 2px solid white;
  width: 96px;
  border-radius: 50%;
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-square {
  width: 140px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-teacher {
  width: 120px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.5);
  border: 2px solid white;
  position: absolute;
  top: 40px;
  left: 40px;
}
