.banner {
  background-size: cover;
  background-position: center;
  padding: 50px 0;
  height: 100px;
  text-align: center;
}

.banner h1 {
  margin: 0 0 16px;
  padding: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 48px;
  font-weight: 700;
}

.banner p {
  margin: 0;
  padding: 0;
  font-size: 24px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.header {
  height: 550px;
  margin: 0;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding: 50px;
    font-size: 48px;
  }
}

.banner-img {
  top: 100px;
  height: 450px;
  margin-right: 20px;
}

.body-container {
  background-color: #1B998B;
  height: 600px;
  padding: 80px 0;
}

.home-cards-container {
  width: 500px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
}

.card-info {
  background-color: white;
  box-shadow: 1px 1px 8px rgba(30, 30, 30, 0.2);
  display: flex;
  align-items: center;
  height: 100px;
  padding: 20px;
  margin: 20px 0;
  border-radius: 4px;
}

.card-info i {
  font-size: 45px;
  margin: 10px 40px 10px 20px;
  color: #4c8ce6;
}

.card-info h2 {
  font-size: 20px;
  padding: 0;
  margin: 0;
  color: #061A40;
}

.card-info p {
  font-size: 16px;
  padding: 0;
  margin: 0;
  color: #54426B;
}

.card-info:hover {
  box-shadow: 1px 1px 12px rgba(30, 30, 30, 0.3);
}

.info {
  text-align: center;
  color: white;

  h2 {
    font-size: 48px;
    font-weight: 700;
  }

  p {
    font-size: 24px;
    font-weight: 100;
  }
}
