.footer {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 40px;
  color: $black;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: $black;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: $gray;
}
