// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "form";
@import "button";
@import "footer";
@import "card";
@import "container";

.disabled {
  opacity: 0.6;
}
.name-bold {
  font-weight: 900;
}
